html {
    scroll-behavior: smooth;
    
  }

  @keyframes float1 {
    0%, 100% { transform: translateY(0) translateX(0); }
    50% { transform: translateY(-20px) translateX(10px); }
  }
  @keyframes float2 {
    0%, 100% { transform: translateY(0) translateX(0); }
    50% { transform: translateY(-30px) translateX(-15px); }
  }
  @keyframes float3 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(25px); }
  }
  @keyframes float4 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(25px); }
  }

  @keyframes float5 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(25px); }
  }
  
  
  /* ใช้กับ Tailwind */
  .animate-float1 {
    animation: float1 8s ease-in-out infinite;
  }
  .animate-float2 {
    animation: float2 10s ease-in-out infinite;
  }
  .animate-float3 {
    animation: float3 12s ease-in-out infinite;
  }
  .animate-float4 {
    animation: float4 12s ease-in-out infinite;
  }
  .animate-float5 {
    animation: float5 12s ease-in-out infinite;
  }
  .ball {
    position: absolute;
    border-radius: 9999px;
    filter: none;
    opacity: 0.3;
    z-index: -1;
  }
  
  /* ลูกบอลแต่ละลูก */
  .float-ball-1 {
    width: 160px;
    height: 160px;
    background-color: #fb923c;
    top: 15%;
    left: 10%;
    animation: move1 15s ease-in-out infinite;
  }
  
  .float-ball-2 {
    width: 200px;
    height: 200px;
    background-color: #f97316;
    top: 65%;
    left: 20%;
    animation: move2 18s ease-in-out infinite;
  }
  
  .float-ball-3 {
    width: 140px;
    height: 140px;
    background-color: #fdba74;
    top: 30%;
    left: 70%;
    animation: move3 20s ease-in-out infinite;
  }
  
  .float-ball-4 {
    width: 120px;
    height: 120px;
    background-color: #fbbf24;
    top: 45%;
    left: 50%;
    animation: move2 17s ease-in-out infinite;
  }
  
  .float-ball-5 {
    width: 180px;
    height: 180px;
    background-color: #facc15;
    top: 80%;
    left: 75%;
    animation: move1 19s ease-in-out infinite;
  }
  
  
  /* เคลื่อนที่ลอยไปมา X/Y แบบวงเบา ๆ */
  @keyframes move1 {
    0%   { transform: translate(0px, 0px); }
    25%  { transform: translate(20px, -30px); }
    50%  { transform: translate(0px, -60px); }
    75%  { transform: translate(-20px, -30px); }
    100% { transform: translate(0px, 0px); }
  }
  
  @keyframes move2 {
    0%   { transform: translate(0px, 0px); }
    25%  { transform: translate(-30px, 20px); }
    50%  { transform: translate(-60px, 0px); }
    75%  { transform: translate(-30px, -20px); }
    100% { transform: translate(0px, 0px); }
  }
  
  @keyframes move3 {
    0%   { transform: translate(0px, 0px); }
    25%  { transform: translate(25px, 20px); }
    50%  { transform: translate(50px, -20px); }
    75%  { transform: translate(25px, -10px); }
    100% { transform: translate(0px, 0px); }
  }
  
  